<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Flask Test</title>
  <style type="text/css">
  	#Splash {
  		margin-left: 10px;
  	}
  </style>
</head>
<body>
	<div id="Infoqr">
		<h1>From the 280 pages of Aalborg's Budget for 2021: How many time would you expect the term "electric cars" is used?</h1>
    <h3>The term "electric cars" is used ____ times:</h3>
	</div>

  {% for item in options %}
   <center><h3>Options: {{ item }} <br> </h3></center>
  {% endfor %}

</body>
</html>